<section class="pageSize">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <img src="/images/Watchlist-logo.svg" alt="Watchlist Logo" class="img-fluid" />
            </div>
            <div class="col-lg-10 text-center text-lg-start">
                <h1>Welcome to Watchlist</h1>
                <p>Your personal Movie and Show "To-Do List"</p>
                <p>Click on "Movies" or "Shows" in the Navbar to view your respective watchlists</p>
            </div>
        </div>
    </div>
</section>