<section class="pageSize">
    <div class="container px-0">
        <div class="row justify-content-center mx-0">
            <div class="col-12 col-lg-9">
                <img src="/images/Watchlist-jumbo-logo.svg" alt="Watchlist Logo" class="img-fluid" />
            </div>
            <div class="col-lg-3 d-flex align-items-center">
                <p class="text-center">Your personal Movie and Show "To-Do List"</p>
            </div>
        </div>
    </div>
</section>