<div class="container">
    <div class="row justify-content-center">
        <div class="mx-3 col-md-4">
            <form class="login-form">
                <div class="mb-3">
                    <label for="email-login" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email-login" />
                </div>
                <div class="mb-3">
                    <label for="password-login" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password-login" />
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
        <div class="mx-3 col-md-4">
            <form class="signup-form">
                <div class="mb-3">
                    <label for="username-signup" class="form-label">Username</label>
                    <input type="text" id="username-signup" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="email-signup" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp"/>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="password-signup" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password-signup" />
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Signup</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/javascript/login.js"></script>