
<h1>Show Watchlist</h1>
<!-- Print out the type, pet boolean and fierceness of all the animals. -->
<ul>
  {{#each shows}}
  <li>
    <p>Title: {{title}}</p>
    <p>Genre: {{genre}}</p>
    <p>Rating: {{rating}}</p>
    <p>Service: {{service}}</p>
  </li>
  {{/each}}
</ul>